body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: w#fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.accent {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.menu-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-nav:hover {
  color: #404bbf;
}

.menu-act {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-act:hover {
  color: #404bbf;
}
.menu-act:active {
  color: #404bbf;
}

.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:hover {
  color: #404bbf;
}

.first-section {
  background: #2e2f42;
}

.greetings {
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button-order {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.button-order:hover {
  background-color: #404bbf;
}

.qualities {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.qualities-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.third-section {
  background: #f4f4fd;
}

.team {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.job-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-works {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.end-block {
  background: #2e2f42;
}

.logo-end {
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.tagline {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
